.select2-container .select2-selection--single {
    height: 38px;
    border: 1px solid #ced4da;
    display: flex;
    align-items: center;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    padding-left: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
    top: 1px;
}