<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold" href="/">
            <i class="fa fa-dumbbell text-warning"></i> GYM SYSTEM
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#adminNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="adminNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin"><i class="fa fa-home"></i> Dashboard</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="sysDrop" data-toggle="dropdown">Hệ thống</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/admin/user">Tài khoản</a>
                        <a class="dropdown-item" href="/admin/member">Hội viên</a>
                        <a class="dropdown-item" href="/admin/coach">Huấn luyện viên</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servDrop" data-toggle="dropdown">Dịch vụ</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/admin/package">Gói tập</a>
                        <a class="dropdown-item" href="/admin/exercise">Bài tập</a>
                        <a class="dropdown-item" href="/admin/regulation">Quy định</a>
                    </div>
                </li>

               <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="reportDrop" data-toggle="dropdown">Thống kê</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/admin/statsrevenueviewbymonth/">Doanh thu tháng</a>
                        <a class="dropdown-item" href="/admin/statsmemberviewbymonth/">Hội viên theo tháng</a>
                        <a class="dropdown-item" href="/admin/statsview/">Hội viên hoạt động</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <span class="nav-link text-warning">
                        <img src="{{ current_user.avatar }}" width="30" height="30" class="rounded-circle mr-1" style="object-fit: cover;">
                        Admin: {{ current_user.username }}
                    </span>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" href="/logout"><i class="fa fa-sign-out-alt"></i> Thoát</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>