{% extends 'admin/base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block page_body %}
    {% include 'admin/header_admin.html' %}

    <div class="container-fluid admin-content-wrapper">
        {% block messages %}
            {{ super() }}
        {% endblock %}
        {% block body %}
            {{ super() }}
        {% endblock %}
    </div>
{% endblock %}

{% block tail %}
    {{ super() }}
{% endblock %}